<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<header class="head">
    <h1><%= title %></h1>
    <div class="contral">
        <ul id="tab">
            <li class="active">BAR</li>
            <li>DOT</li>
        </ul>
        <input id="volume" value="20" type="range" min="0" max="100">
        <input id="stopBtn" type="button" value="停止">
    </div>
</header>
<section class="content">
    <div class="left">
        <ul id="list">
            <% musics.forEach((music)=>{ %>
                <li title="<%= music %>"> <%= music %> </li>
            <% }) %>
        </ul>
    </div>
    <div class="right" id="box">
        <canvas id="canvas" style="background: rgba(0,0,0,.5)"></canvas>
    </div>
</section>

<script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>
